[submodule "2-intermediate_javascript/1-objects/aA-objects"]
	path = 2-intermediate_javascript/1-objects/aA-objects
	url = git@github.com:toeireishuman/aA-objects.git
[submodule "2-intermediate_javascript/2-callbacks/aA-callbacks"]
	path = 2-intermediate_javascript/2-callbacks/aA-callbacks
	url = git@github.com:toeireishuman/aA-callbacks.git
